.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}
div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
  }


#calendar {
  width: 50%;
  margin: 0 auto;
}

#calendar-header {
  text-align: center;
}

#calendar-body {
  width: 100%;
  border-collapse: collapse;
}

#calendar-body th, #calendar-body td {
  width: 14.28%;
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
}

#calendar-body td {
  vertical-align: top;
}

#myDiv {
  width: 50%;
  margin: 0 auto;
}
#myPlot {
  width: 50%;
  margin: 0 auto;
}

#my_dataviz {
  width: 50%;
  margin: 0 auto;
}

#image-container  img{
  width: 800px;
  height: auto;
}
.content-container {
  display: flex;
}
